@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    letter-spacing: 2px;
}

/*
=============================== NAVBAR ===================================
*/

.contenedorTotal {
    display:flex;
    justify-content: space-between!important;
}


.form-inline {
    padding-right: 1rem;
    display: flex;
    gap: 1rem;
}

.form-control{
    margin-left: .5rem;
}

.ul-dropdown {
    padding-right: 1rem;
}


.imageProducto {
    width: auto;
}

.cart-li {
    margin-left: 15px;
}
.nav-icon {
    font-size: 1.5rem;
}
.cart-btn {
    position: relative;
    cursor: pointer;
}
.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #f09d51;
    padding: 0 5px;
    border-radius: 30%;
    color: white;
}

.fa-cart-plus {
    color: white;
}


/*
============================= MAIN ===========================
*/

main {
    background-image: url(images/page-images/jordan3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.prod-title {
    color: white;
    margin: 2rem;
    text-align: center;
}

/*
============================= CAJAS ===========================
*/

.contenedorMain {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    
    
    
}

.cajaProducto {
    margin:20px;
    width: 250px;
    /*max-width: 250px;*/
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    background-color: rgba(253, 6, 27, .5);
    transition: All 1s ease-in-out;
    flex-grow: 0.1;
    
}

.cajaProducto:hover {
    
    transition:all 300ms ease-in-out;
    transform: scale(1.05);
}

.elementsCaja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    
}

.elementsCaja p {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seleccion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.seleccion button {
    padding: 0 10px;
    border: none;
    background: transparent;
    color: white;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.seleccion button:hover {
    background: white;
    color: rgb(189, 0, 0);
    transition:all 300ms;
}

.seleccion p {
    width:30px;
    height: 30px;
    margin:0 10px;
    text-align: center;
    font-weight: bold;
   
}



.addToCart {
    margin-top: 10px;
    background: white;
    padding:5px 10px;
    color: rgb(189, 0, 0);
    font-weight: bold;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.addToCart:hover {
    padding:3px 8px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition:background 300ms;
    
}


/*
============================= CARRITO ===========================
*/

.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
}
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}
.showCart {
    transform: translateX(0);
}
.transparentBcg {
    visibility: visible;
}

.cart-content {
    display:flex;
    flex-direction: column;
    
}

.boxCartItem {
    display:grid;
    grid-template-rows: 1;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    gap: 15px;
    padding:4px;
    padding-right: 8px;
    margin-bottom: 15px;
    
}

.boxCartItem:hover {
    border: 2px solid #f09d51;
    padding:2px;
    padding-right: 6px;
    
}

.boxCartItem h4 {
    font-size: 18px;
}

.boxCartItem .cant {
    text-align: center;
    margin: 0;
}

.imgCart {
    width: 75px;
    height: 75px;
}

.divCant {
    display:flex;
    flex-direction: column;
}

.fa-trash {
    cursor: pointer;
    
}



@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}
.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}
.cart-item img {
    width: 75px;
    height: 75px;
}
.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
}
.item-amount {
    text-align: center;
}
.remove-item {
    color: grey;
    cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
}

.fa-chevron-up:hover,
.fa-chevron-down:hover,.fa-chevron-up:focus,
.fa-chevron-down:focus {
    color:#ad733d;
}

.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}
.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
}
.banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}
  /*---------- End of Cart Item -------------------- */